body {
    color: blueviolet;
    background: white;

    font-family: "Helvetica";
    font-size: 15px;
}

.red-span {
    color: red;

}

.centered {
    */ margin-left: 50px;
    margin-right: 5opx;
    */ padding: 10px 10px 10px 10px;
    border: 5px solid;
    margin: 0 auto 0 auto;
    width: 80%;

    / * margin-left: 20px;
    margin-right: 20px;

    */
}

.diff-font {
    font-family: cursive
}

header nav {
    flex: 1;*/
    background: blue
}


header nav ul {
    display: flex;
    justify-cotent: flex-end;
}

header nav li {
    list-style-type: none;
    padding: lem;
}