body {
    color: blueviolet;
    background: #54ff08;

    font-family: "Helvetica";
    font-size: 15px;
}

.red-span {
    color: red;

}

.centered {
    padding: 10px 10px 10px 10px;
    border: 5px solid;
    margin: 0 auto 0 auto;
    width: 80%;

    /* margin-left: 20px;
    margin-right: 20px;

    */
}

.diff-font {
    font-family: cursive
}

/*
header nav ul {
    display: flex;
    justify-cotent: flex-end;
}
*/

header nav li {
    list-style-type: none;
    padding: 10px;
}

a:hover {
    color: #ec08ff
}
